
.contacts {
    display: flex;
    flex-wrap: wrap; 
    gap: 25px; 
    justify-content: center; 
}


.contact {
    width: calc(25% - 25px); 
    max-width: 490px; 
    background-color: var(--black);
    box-shadow: var(--box-shadow);
    border-radius: 10px;
    border: 1px solid var(--black-border);
    overflow: hidden;
}

.contact__img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.contact__title {
    padding: 10px 20px;
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.3;
    color: var(--white);
}

.contacts-page .title-1 {
    color: #fff;
}
