/* Header */

.header {
    
    min-height: 695px;
    padding: 150px 0;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--black);
    background-image: url('./../img/png/header-bg.png');
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center center;

    color: var(--header-text);
    text-align: center;
}

.header__wrapper {
    padding: 0 15px;
    max-width: 710px;
}

.header__title {
    margin-bottom: 20px;
    font-size: 40px;
    font-weight: 700;
    line-height: 1.4;
}

.header__title strong {
    font-size: 60px;
    font-weight: 700;
}


.header__title em {
    font-style: normal;
    color: var(--accent);
}

.header__text {
    font-style: 18px;
    line-height: 1.333;
    margin-bottom: 40px;
}


.header__text p + p{
    margin-top: 1em;
}

.header__btns {
    display: flex;
    justify-content: center;

    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 30px;
}

.btn {
    display: inline-block;

    width: 120px;
    height: 48px;
    padding: 12px 28px;

    border-radius: 5px;
    background-color: var(--accent);
    color: var(--white);
    letter-spacing: 0.15px;
    font-style: 16px;
    font-weight: 500;

    transition: opacity 0.1s ease-in;
}


.btn:hover {
    opacity: 0.8;
}

.btn:active {
    position: relative;
    top: 1px;
}


/* Btn outline */


.btn-outline {
    display: flex;
    column-gap: 10px;
    align-items: center;

    height: 48px;
    padding: 12px 20px;
    
    border-radius: 5px;
    border: 1px solid #000;
    background-color: var(--white);
    color: #000;
}


.btn-outline:hover {
    opacity: 0.8;
}

.btn-outline:active {
    position: relative;
    top: 1px;
}