@media (max-width: 1450px){
    .login {
        background-size: auto;
    }
}


@media (max-width: 620px){

    /* Nav */

    .nav {
        position: unset; 
        width: unset; 
    }

    /* Header */

    .header {
        min-height: unset;
    }

    .header__title {
        font-size: 30px;
    }

    .header__title strong {
        font-size: 40px;
    }

    /* Nav */

    .nav-row {
        justify-content: space-between;
    }

    .dark-mode-btn {
        order: 0;
    }

    /* General */

    .section{
        padding: 40px 0;
    }

    .title-1 {
        font-size: 40px;
        margin-bottom: 30px;
    }

    .title-2 {
        margin-bottom: 10px;
        font-size: 30px;
    }

    /* Projects */

    .project__title {
        font-size: 22px;
    }

    /* Project page */

    .project-details__desc {
        font-size: 22px;
        margin-bottom: 20px;
    }

    /* Contacts */

    .contacts {
        grid-template-columns: 1fr; /* Переносим в одну колонку */
    }

    /* Content List */

    .content-list {
        row-gap: 20px;
    }

    .content-list__item {
        font-size: 16px;
    }

    /* Login */

    .wrapper-login {
        width: 320px;
    }


    /* Footer */

    .footer {
        padding: 40px 0 30px;
    }

    .footer__wrapper {
        row-gap: 20px;
    }

    /* Social */
    .social {
        column-gap: 20px;
    }

    .social__item {
        width: 28px;
    }

}