/* Nav */

.nav {
    position: fixed; 
    width: 100%; 

    padding: 20px 0;
    border-bottom: 1px solid var(--black-border);

    background-color: var(--black);
    color: var(--header-text);
    letter-spacing: normal;
}

.nav.--none-fixed {
    position: static; /* Обычное позиционирование */
}


.nav-row {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: 40px;
    row-gap: 20px;
    flex-wrap: wrap;
}


.logo {
    margin-right: auto;
    color: var(--header-text);
    font-size: 24px;
    font-family: "Poppins", sans-serif; 
}

.logo strong {
    font-weight: 700;
    letter-spacing: 2.5px;
}


.nav-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
    align-items: center;
    column-gap: 40px;
    font-size: 16px;
    font-weight: 500;
    font-family: "Poppins", sans-serif; 
}


.nav-list__link {
    color: var(--header-text);

    transition: opacity 0,2s ease-in;
}


.nav-list__link:hover {
    opacity: 0.8;
}


.nav-list__link--active {
    position: relative;
}


.nav-list__link--active::before {
    content: "";

    position: absolute;
    left: 0;
    top: 100%;

    display: block;
    height: 2px;
    width: 100%;
    background-color: var(--accent);
}


/* Dark mode button */

.dark-mode-btn {
    order: 9;
    position: relative;

    display: flex;
    justify-content: space-between;

    width: 51px;
    height: 26px;
    padding: 5px;

    background-color: #272727;
    border-radius: 50px;
}

.dark-mode-btn::before {
    content: "";

    position: absolute;
    top: 1px;
    left: 1px;

    display: block;
    width: 24px;
    height: 24px;

    border-radius: 50%;
    background-color: var(--white);

    transition: left 0.2s ease-in;
}


.dark-mode-btn--active::before {
    left: 26px;
}


.dark-mode-btn__icon {
    position: relative;
    z-index: 9;
}