.table__wrapper {
    flex-grow: 1;
    display: flex;
    justify-content: center;  /* Центрируем таблицу по горизонтали */
    align-items: flex-start;  /* Центрируем по вертикали (начало страницы) */
    padding: 10px 20px;
    background-color: var(--dark-border);
}

.table {
    margin-top: 20px;
    width: 100%;
    max-width: 800px; /* Устанавливаем максимальную ширину, чтобы таблица не растягивалась */
    text-align: center;  /* Центрируем текст по горизонтали */
    border-spacing: 0 10px;  /* Отступ 10px между строками */
    border-collapse: separate;
}


.table th {
    color: var(--white);
    font-size: 40px;
    font-weight: 600;
    text-align: center;  /* Центрируем текст по горизонтали */
    padding: 20px 0;
    
}

.table tr {
    
    border-spacing: 20px;
}

.table td {
    background-color: var(--accent);
    border-radius: 10px;
    padding: 15px 20px; /* Устанавливаем padding для ячеек */
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    color: var(--white);
    transition: opacity 0.1s ease-in;
    word-wrap: break-word;
    white-space: normal;
    
}

/* Установка отступов между кнопками */
.table td button {
    margin-bottom: 0px; /* Отступы между кнопками */
}



/* Стиль для кнопки "Добавить предмет" */
.addSubjectBtn {
    background-color: #4CAF50;  /* Зеленый цвет */
    color: white;                /* Белый цвет текста */
    border: none;                /* Без границ */
    border-radius: 5px;          /* Скругленные углы */
    padding: 8px 16px;           /* Отступы внутри кнопки */
    font-size: 16px;             /* Меньший размер шрифта */
    cursor: pointer;            /* Курсор в виде руки при наведении */
    transition: background-color 0.3s ease;  /* Плавное изменение фона */
    margin-top: 20px;            /* Отступ сверху для отделения от таблицы */
    display: block;              /* Делаем кнопку блочной, чтобы она шла на новой строке */
    width: 200px;                /* Фиксированная ширина кнопки */
    margin-left: auto;           /* Центрируем кнопку по горизонтали */
    margin-right: auto;          /* Центрируем кнопку по горизонтали */
    margin-bottom: 25px;
}

/* Эффект наведения на кнопку */
.addSubjectBtn:hover {
    background-color: #45a049;  /* Более темный зеленый при наведении */
}
